<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Суетимся</title>
    {%load static%}

    <link rel="stylesheet" type="text/css" href="%static'style.css'%">

</head>
<body>
    <div class="header">
        <p><a href="{% url 'logs:index' %}">
            Журнал записей пользователя
            </a></p>
        {%if user is authenitcated%}{{user.username}}{%endif%}
    </div>
    {% block content %}{% endblock content %}
</body>
</html>

