{% extends 'logs/base.html' %}

{% block content %}

<h3>Темы:</h3>

{% for topic in topics %}
<p>
<strong>
<a href="/topics/{{ topic.id }
{{topic.text}}
</a>
</strong>
(Дата создания: 
{{topic.date_added|dat
</p>
{% empty %}
<p style>Долгов</p>
<p>Григорьев</p>
<p>Алигберов</p>
<p>Борисов</p> 
{% endfor %}

{% endblock content %}