{% extends 'logs/base.html' %}

{% block content %}

<h3>Тема: {{topic}}</h3>

{% for entry in entries %}
<p>
{{entry.text|linebreaks}}
(Дата создания: {{entry.date_added|dat
</p>
{% empty %}
<p>Пока нет записей</p> 
{% endfor %}

{% endblock content %}